.comfy-mobile-form-sidebar-toggle {
    width: var(--sidebar-width);
    height: var(--sidebar-width);
}

.comfy-mobile-form {
    position: absolute;
    inset: 0;

    background-color: var(--bg-color);
    color: var(--fg-color);
    font-size: 1.0rem;

    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: .3em;
    padding: .25em .4em;
}

.comfy-mobile-form-hidden {
    display: none;
}